
.algorithmHelp {

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .help {
            width: 40vw;
            height: 13em;
            padding-right: 3.5em;
            margin-top: 22px;
    
            h2 {
                font-size: 20px;
                color: $secondary-color;
                margin-bottom: 1.5em;
            }
    
            p {
                font-size: 0.7rem;
                color: $secondary-color;
                margin-bottom: 1.5em;
                line-height: 20px;
    
            }
        }
    
        .form1 {
    
            div {
                display: flex;
                flex-direction: row;
                margin: 1.5em 0;
    
                label {
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    color: $secondary-color;
                    
                    input {
                        width: 25vw;
                        height: 4.5vh;
                        border: solid 1px $primary-color;
                        margin-top: 7px;
                        padding-left: 1em;
                    }
                }
            }
    
            .selection {
                display: flex;
                flex-direction: row;
                
                .radio {

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .masc, .fem {
                        margin-bottom: 0.5em;
                        margin-right: 10px;
                        width: 14px;
                    }

                    .fem {
                        margin-left: 40px;
                    }

                    .error {
                        margin-bottom: 0.5em;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                }
        
            }
    
            .btn {

                display: flex;
                flex-direction: column;
                align-items: center;
                
                button {
                    width: 25vw;
                    height: 5vh;
                    cursor: pointer;
                    background-color: #fff;
                    border: solid 1px $primary-color;
                    transition: ease-in-out 300ms;
        
                    &:hover {
                        background-color: $primary-color;
                        color: #fff;
                    }
                }
            }
        }

    }

    @media (max-width: 768px) {

        .container {

            .help {
                width: auto;
                height: auto;
                padding: 0 2em;
                margin-top: 22px;
  
            }

            .form1 {
                margin: 0 auto;

                div {

                    label {

                        input {

                            width: 85vw;
                            height: 6vh
                        }

                    } 
                }

                .btn {
                    display: flex;
                    justify-content: center;

                    button {
                        width: 70vw;
                        height: 5vh;
                    }

                }
                    
            }

        }

    
    }

}