* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
}
body .error {
  color: red;
  margin-top: 0.5em;
}

.header {
  height: 30em;
  background-color: #707070;
  color: #fff;
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 65%);
          clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 65%);
  text-align: center;
}
.header p {
  padding: 1em;
  font-size: 1.2rem;
}
.header h1 {
  font-size: 2.8rem;
}
.header .slogan {
  font-size: 1em;
  padding: 5vh;
}
.header .navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.header .navbar .navlist {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header .navbar .navlist .navButtons {
  margin: 0px 30px;
  padding: 2.5vh 1vw;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  width: 11vw;
  height: 7vh;
  transition: ease-in-out 300ms;
}
.header .navbar .navlist .navButtons:hover {
  box-shadow: none;
  cursor: pointer;
}
.header .navbar .navlist .navButtons:hover a {
  border-bottom: 1px solid #888888;
}
.header .navbar .navlist .navButtons a {
  text-decoration: none;
  color: #888888;
  transition: ease-in-out 300ms;
}
@media (max-width: 1024px) {
  .header {
    height: 40em;
    margin: 0 auto;
  }
  .header .navbar .navlist {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px 10px;
    list-style: none;
    justify-content: center;
  }
  .header .navbar .navlist .navButtons {
    margin: 0px 10px;
    padding: 2.5vh 1vw;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    width: auto;
  }
}

.algorithmHelp .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.algorithmHelp .container .help {
  width: 40vw;
  height: 13em;
  padding-right: 3.5em;
  margin-top: 22px;
}
.algorithmHelp .container .help h2 {
  font-size: 20px;
  color: #888888;
  margin-bottom: 1.5em;
}
.algorithmHelp .container .help p {
  font-size: 0.7rem;
  color: #888888;
  margin-bottom: 1.5em;
  line-height: 20px;
}
.algorithmHelp .container .form1 div {
  display: flex;
  flex-direction: row;
  margin: 1.5em 0;
}
.algorithmHelp .container .form1 div label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #888888;
}
.algorithmHelp .container .form1 div label input {
  width: 25vw;
  height: 4.5vh;
  border: solid 1px #707070;
  margin-top: 7px;
}
.algorithmHelp .container .form1 .selection {
  display: flex;
  flex-direction: row;
}
.algorithmHelp .container .form1 .selection .fem {
  margin-left: 1vw;
}
.algorithmHelp .container .form1 .selection input {
  width: 14px;
  margin-right: 1vw;
}
.algorithmHelp .container .form1 button {
  width: 25vw;
  height: 5vh;
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #707070;
  transition: ease-in-out 300ms;
}
.algorithmHelp .container .form1 button:hover {
  background-color: #707070;
  color: #fff;
}
@media (max-width: 1000px) {
  .algorithmHelp .container .help {
    width: auto;
    height: auto;
    padding: 0 2em;
    margin-top: 22px;
  }
  .algorithmHelp .container .form1 {
    margin: 0 auto;
  }
  .algorithmHelp .container .form1 div label input {
    width: 90vw;
    height: 7vh;
  }
  .algorithmHelp .container .form1 button {
    width: 90vw;
    height: 10vh;
  }
}

.specialSelection {
  position: relative;
}
.specialSelection .container {
  margin-top: 10em;
}
.specialSelection .container .special {
  text-align: center;
}
.specialSelection .container .special h3 {
  font-size: 18px;
  color: #888888;
}
.specialSelection .container .special h3:before, .specialSelection .container .special h3:after {
  content: " ";
  position: absolute;
  width: 25%;
  border-top: 1px solid #888888;
  margin-top: 1vh;
}
.specialSelection .container .special h3:before {
  margin-left: -355px;
}
.specialSelection .container .special h3:after {
  margin-left: 15px;
}
.specialSelection .container #boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 19vw;
  height: auto;
}
.specialSelection .container #boxes .box {
  display: flex;
  padding: 40px 40px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: #888888;
}
.specialSelection .container #boxes .box img {
  width: 150px;
}
.specialSelection .container #boxes .box h4 {
  margin: 0.5em 0;
  font-size: 14px;
  font-weight: 100;
}
.specialSelection .container #boxes .box p {
  font-size: 12px;
  margin-top: 0.5em;
}
.specialSelection .container #boxes .box p:nth-child(4) {
  font-size: 16px;
  font-weight: bold;
  margin-top: 1em;
}
.specialSelection .container #boxes .box button {
  margin-top: 1em;
  width: 12em;
  height: 4vh;
  color: #888888;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #707070;
  transition: ease-in-out 300ms;
}
.specialSelection .container #boxes .box button:hover {
  background-color: #707070;
  color: #fff;
}
.specialSelection .container #btnNewPage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, 100%);
  bottom: 0%;
  left: 50%;
  width: 20vw;
  height: 7vh;
  text-decoration: none;
  text-align: center;
  color: #888888;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #707070;
  transition: ease-in-out 300ms;
}
.specialSelection .container #btnNewPage:hover {
  background-color: #707070;
  color: #fff;
}
.specialSelection .container .hidden {
  display: none;
}
.specialSelection .container .visible {
  display: block;
}

.news {
  text-align: center;
  margin-top: 25vh;
}
.news .share {
  text-align: center;
  margin-bottom: 6vh;
}
.news .share h3 {
  font-size: 18px;
  color: #888888;
}
.news .share h3:before, .news .share h3:after {
  content: " ";
  position: absolute;
  width: 25%;
  border-top: 1px solid #888888;
  margin-top: 1vh;
}
.news .share h3:before {
  margin-left: -345px;
}
.news .share h3:after {
  margin-left: 5px;
}
.news p {
  margin-bottom: 4vh;
  font-size: 14px;
  color: #888888;
  margin-bottom: 1.5em;
  line-height: 20px;
}
.news .form2 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
}
.news .form2 #formShare {
  display: flex;
  margin-bottom: 5vh;
  width: 70vw;
  justify-content: space-around;
}
.news .form2 #formShare div {
  display: flex;
  flex-direction: row;
  margin: 1.5em 0;
}
.news .form2 #formShare div label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  color: #888888;
}
.news .form2 #formShare div label input {
  width: 25vw;
  height: 4.5vh;
  border: solid 1px #707070;
  margin-top: 2vh;
}
.news .form2 button {
  width: 20vw;
  height: 7vh;
  color: #888888;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #707070;
  position: absolute;
  transform: translate(-50%, 100%);
  bottom: 0%;
  left: 50%;
  transition: ease-in-out 300ms;
}
.news .form2 button:hover {
  background-color: #707070;
  color: #fff;
}
@media (max-width: 1024px) {
  .news .form2 {
    position: relative;
  }
  .news .form2 #formShare {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 5vh;
    width: 90vw;
    justify-content: space-around;
  }
  .news .form2 #formShare div {
    display: flex;
    flex-direction: row;
    margin: 1.5em 0;
  }
  .news .form2 #formShare div label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    color: #888888;
  }
  .news .form2 #formShare div label input {
    width: 80vw;
    height: 4.5vh;
    border: solid 1px #707070;
    margin-top: 2vh;
  }
  .news .form2 button {
    width: 20vw;
    height: 7vh;
    color: #888888;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    border: solid 1px #707070;
    position: absolute;
    transform: translate(-50%, 100%);
    bottom: 0%;
    left: 50%;
    transition: ease-in-out 300ms;
  }
  .news .form2 button:hover {
    background-color: #707070;
    color: #fff;
  }
}

.footer {
  width: 100%;
  height: 20em;
  background-color: #707070;
  margin-top: 10em;
  -webkit-clip-path: polygon(0% 10%, 100% 40%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 10%, 100% 40%, 100% 100%, 0% 100%);
  text-align: center;
  position: absolute;
}
.footer .footerText {
  position: relative;
  bottom: -60%;
  left: -50%;
  transform: translate(50%, 40%);
  color: #fff;
}/*# sourceMappingURL=style.css.map */