* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
}
body .container {
  width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30em;
  background-color: #707070;
  color: #fff;
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 65%);
          clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 65%);
  text-align: center;
}
.header p {
  padding: 1em;
  font-size: 20px;
}
.header h1 {
  font-size: 40px;
}
.header .slogan {
  font-size: 14px;
  padding: 5vh;
}
.header .navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.header .navbar .navlist {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header .navbar .navlist .navButtons {
  margin: 0 24px;
  padding: 2.5vh 1.5vw;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #fff;
}
.header .navbar .navlist .navButtons:hover {
  box-shadow: none;
  cursor: pointer;
}
.header .navbar .navlist .navButtons:hover a {
  border-bottom: 1px solid #888888;
}
.header .navbar .navlist .navButtons a {
  text-decoration: none;
  color: #888888;
}

.algorithmHelp .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em auto;
}
.algorithmHelp .help {
  width: 45vw;
  height: 13em;
  padding-right: 3.5em;
  margin-top: 22px;
}
.algorithmHelp .help h2 {
  font-size: 20px;
  color: #888888;
  margin-bottom: 1.5em;
}
.algorithmHelp .help p {
  font-size: 12px;
  color: #888888;
  margin-bottom: 1.5em;
  line-height: 20px;
}
.algorithmHelp .form1 {
  width: 30vw;
  /* height: 22em; */
}
.algorithmHelp .form1 div {
  display: flex;
  flex-direction: row;
  margin: 1.5em 0;
}
.algorithmHelp .form1 div label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #888888;
}
.algorithmHelp .form1 div label input {
  width: 25vw;
  height: 4.5vh;
  border: solid 1px #707070;
  margin-top: 7px;
}
.algorithmHelp .form1 .selection {
  display: flex;
  flex-direction: row;
}
.algorithmHelp .form1 .selection #fem {
  margin-left: 1vw;
}
.algorithmHelp .form1 .selection input {
  width: 14px;
  margin-right: 1vw;
}
.algorithmHelp .form1 button {
  width: 25vw;
  height: 5vh;
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #707070;
}
.algorithmHelp .form1 button:hover {
  background-color: #707070;
  color: #fff;
}

.specialSelection {
  margin-top: 10em;
}
.specialSelection .special {
  text-align: center;
  margin-bottom: 6vh;
}
.specialSelection .special h3 {
  font-size: 18px;
  color: #888888;
}
.specialSelection .special h3:before, .specialSelection .special h3:after {
  content: " ";
  position: absolute;
  width: 25%;
  border-top: 1px solid #888888;
  margin-top: 1vh;
}
.specialSelection .special h3:before {
  margin-left: -355px;
}
.specialSelection .special h3:after {
  margin-left: 15px;
}
.specialSelection .boxes {
  display: flex;
  flex-flow: column wrap;
  width: 20vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.specialSelection .boxes .box {
  display: flex;
  padding: 10px 0;
  margin: 30px;
  flex-flow: column wrap;
  align-content: flex-start;
  justify-content: center;
  color: #888888;
  text-align: left;
}
.specialSelection .boxes .box img {
  width: 150px;
}
.specialSelection .boxes .box h4 {
  margin: 0.5em 0;
  font-size: 14px;
  font-weight: 100;
}
.specialSelection .boxes .box p {
  font-size: 12px;
  margin-top: 0.5em;
}
.specialSelection .boxes .box p:nth-child(4) {
  font-size: 16px;
  font-weight: bold;
  margin-top: 1em;
}
.specialSelection .boxes .box button {
  margin-top: 1em;
  width: 12em;
  height: 4vh;
  color: #888888;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #707070;
}
.specialSelection .boxes .box button:hover {
  background-color: #707070;
  color: #fff;
}

.news {
  display: flex;
  justify-content: center;
  flex-flow: wrap column;
  align-items: center;
  margin-top: 25vh;
}
.news .share {
  text-align: center;
  margin-bottom: 6vh;
}
.news .share h3 {
  font-size: 18px;
  color: #888888;
}
.news .share h3:before, .news .share h3:after {
  content: " ";
  position: absolute;
  width: 25%;
  border-top: 1px solid #888888;
  margin-top: 1vh;
}
.news .share h3:before {
  margin-left: -345px;
}
.news .share h3:after {
  margin-left: 5px;
}
.news p {
  margin-bottom: 4vh;
  font-size: 14px;
  color: #888888;
  margin-bottom: 1.5em;
  line-height: 20px;
}
.news #formShare {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.news #formShare .form2 {
  display: flex;
  margin-bottom: 5vh;
  width: 70vw;
  justify-content: space-around;
}
.news #formShare .form2 div {
  display: flex;
  flex-direction: row;
  margin: 1.5em 0;
}
.news #formShare .form2 div label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #888888;
}
.news #formShare .form2 div label input {
  width: 25vw;
  height: 4.5vh;
  border: solid 1px #707070;
  margin-top: 2vh;
}
.news #formShare button {
  width: 20vw;
  height: 7vh;
  color: #888888;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #707070;
}
.news #formShare button:hover {
  background-color: #707070;
  color: #fff;
}

.footer {
  width: 100%;
  height: 20em;
  background-color: #707070;
  margin-top: 10em;
  -webkit-clip-path: polygon(0% 10%, 100% 40%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 10%, 100% 40%, 100% 100%, 0% 100%);
  text-align: center;
  position: absolute;
}
.footer .footerText {
  position: relative;
  bottom: -60%;
  left: -50%;
  transform: translate(50%, 40%);
  color: #fff;
}/*# sourceMappingURL=style.css.map */